.container {
  width: 10rem;
  height: fit-content;
  border: 1px solid var(--border-medium);
  display: flex;
  border-radius: var(--border-radius-md);
  margin: auto;
  box-shadow: var(--base-shadow);
  input {
    width: 100%;
    text-align: center !important;
  }
}
