.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--gap-md);
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  align-items: center;
  input,
  select,
  option,
  label {
    margin: 0;
    text-align: left;
  }
  label {
    font-weight: 600;
  }
}
