.container {
  font-size: var(--xs);
  .streams-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
    list-style: none;
    padding: 0 var(--gap-lg);
    li {
      padding: 0;
      margin: 0;
      border: 1px solid var(--border-medium);
      border-radius: var(--border-radius-md);
      font-weight: 600;
      display: flex;
      flex-direction: column;
      max-width: 33.33%;
      overflow: hidden;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.166);
      video {
        flex-grow: 1;
        height: 100%;
        border-bottom: 1px solid var(--border-light);
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--gap-md);
        font-size: var(--lg);
      }
      .download {
        color: var(--text-colour);
        fill: var(--text-colour);
        display: flex;
        align-items: center;
        gap: var(--gap-md);
        font-size: var(--sm);
      }
    }
  }
}
