.res-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--gap-md);
  gap: var(--gap-sm);
  font-size: var(--md);
  font-weight: 600;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .spin {
    animation: spin 500ms linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
