.container {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: fit-content;
  border: 1px solid var(--border-medium);
  display: flex;
  border-radius: var(--border-radius-md);
  margin: auto;
  box-shadow: var(--base-shadow);

  .device-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-light);
    border-radius: var(--border-radius-sm);
    li {
      padding: 0;
      margin: 0;
      border-bottom: 1px solid var(--border-light);
      padding: var(--gap-md);
      font-weight: 600;
      font-size: var(--xs);
      cursor: pointer;
    }
    li:last-of-type {
      border-bottom: none;
    }
    li:hover {
        background: var(--border-pale);
    }
  }
}
