nav {
  width: 100%;
  border-bottom: 1px solid var(--border-medium);
  padding: var(--gap-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--xs);
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--gap-lg);
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: var(--sm);
}

main {
  height: 100%;
  width: 100%;
  padding: var(--gap-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}
